.idea/
*.dot

*/analysis/baseline/*
**/analysis/baseline/**

*/analysis/core_isolation/*
**/analysis/core_isolation/**

*/analysis/docker_runs/*
**/analysis/docker_runs/**

*/analysis/microvm/*
**/analysis/microvm/**

*/analysis/path/*
**/analysis/path/**